spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        username: postgres
        password: qwerty007
        url: jdbc:postgresql://localhost:5432/OG

    jpa:
        hibernate.ddl-auto: update
        database-platform: org.hibernate.dialect.PostgreSQL10Dialect
        show-sql: true
        properties:
            hibernate.format_sql: true

    redis:
        host: localhost
        port: 6379

    mail:
        host: smtp.gmail.com
        port: 465
        username:
        password:
        properties:
            mail.smtp.auth: true
            mail.smtp.starttls.enable: true
            mail.smtp.host: smtp.mail.ru
            mail.smtp.port: 465
            mail.smtp.allow8bitmime: true
            mail.smtps.ssl.checkserveridentity: true
            mail.smtps.ssl.trust: *
            mail.smtp.ssl.enable: true
            mail.debug: true

    freemarker:
        template-loader-path: classpath:/templates/,classpath:/mails/

    servlet:
            multipart:
                max-request-size: 100MB
                max-file-size: 100MB


files:
    storage:
        path: C:\tmp


jwt:
    secret: example


server:
    port: 8080
